*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

.container{
    display: flex;
    gap: 10px;
}

.left-image{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.left-image img{
    object-fit: cover;
    width: 80px;
    height: 100px;
}

.right-image img{
    width: 400px;
    height: 516px;
    object-fit: cover;
}

